body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.fondoListaPelicula{
  background-color: #eff1f4;
}

.imagenDetallePelicula{
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}
.iconoDetallePelicula{
  font-size: 100px;    
  color: #888;       
}